#how-to{
    text-align: left;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #516d3d;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0,auto;
} 

.button:hover{
    background-color: #6A8855;
}

.button:focus{
    background-color: #6A8855;
}

.button:active{
    background-color: #516d3d;
}

#container {
    display:flex;
    justify-content: space-between;
}

#contribute-container,
#review-container {
    width: 48%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*
#contribute-container,
#review-container {
    width: 48%;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
*/

p{
    font-size: 16px;
}

.centered-text{
    text-align: center;
}

.button-container {
    text-align: center; /* Center the content within each container */
    margin-top: 10px; /* Add some top margin to the button container */
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    
}

@media screen and (max-width: 768px) {
    #left-nav-home {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height */
        position: relative; /* Change position */
    }

    .main-content {
        margin-left: 0; /* No margin on the left for smaller screens */
    }
}