html {
    margin: 0;
    height: 100%;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}

header {
    background-color: #0c2d45;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
} 

h2{
    font-family: 'Poppins', sans-serif;
}

#how-to{
    text-align: left;
}

body{
    text-align: center;
    margin: 1rem;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #516d3d;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
} 