
html {
    margin: 0;
    height: 100%;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}

#review-header {
    background-color: #124266;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    margin: 1rem;
}


body {
    margin: 1rem;
    text-align: center;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

/* Style for the container of the Submit button */
#submit-button-container {
    position: bottom;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
}


.main-container {
    display: flex;
    border: none;
}

.divider {
    width: 5px;
    /* Width of the divider */
    cursor: col-resize;
    /* Use a resizable cursor */
    background-color: #ccc;
}

.divider:hover {
    background-color: #aaa9a9;
}

.source-photos-container,
.right-container {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
    /* Set initial width for panels */
    /* Optionally, you can set the initial widths here */
    width: calc(50% - 5px);
    /* Initial width for both containers */
}

/* Add this CSS to disable user selection while resizing */
.user-select-none {
    user-select: none;
}

.thumbnail-scroll-container {
    max-height: 800px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
}

.group-thumbnail-scroll-container {
    max-height: 400px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
}

/* Define styles for the grid */
#thumbnail-grid,
#thumbnail-group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #eee;
    min-height: 250px;
}

.tcontainer .thumbnail {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
}

.tcontainer .caption {
    width: 150px; /* Set the width to match the thumbnail */
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.tcontainer.selected {
    width: 156px;
    border: 3px solid #007bff;
}


.selected-properties-container {
    max-height: 400;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
    width: 100%;
    background-color: #f2f2f2
}

.species-container {
    display: flex;
    position: relative;
    margin: 10px;
    align-items: center; /* Center vertically */
}

.label {
    color: #B4886B;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    border: none;
    outline: none;
    flex: 1;
    align-self: center;
    min-width: 100px; /* Set a fixed minimum width for the label */
}

.label:after {
    content: ": ";
}

.species-input {
    color: #48438F;
    padding: 10px 10px;
    border-radius: 3px;
    outline: none;
    background-color: #FFF;
    border: 1px solid #ccc;
    flex: 2;
    margin-right: 10px;
}

.suggestions {
    position: absolute;
    top: calc(100% + 10px); /* Adjust the top value as needed to add some spacing */
    left: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    margin-right: 10px;
}

.suggestions li {
    color: #48438F;
    margin: 0;
    padding: 0;
    width: calc(100% - 30px);
    cursor: pointer;
    list-style-type: none;
    text-align: left;
}

/* Container for the label/input pairs */
.form-group {
    display: flex;
}

.multivalue-input-container {
    flex: 5;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #e7e7e7;
    width: 100%;
    /* This should make it take the full available horizontal space */
    padding: 10px;
}

.multivalue-input-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 220px;
    /* Set your desired max height here */
    overflow-y: auto;
    /* Add a vertical scrollbar when content overflows */
}

.input-container {
    display: flex;
    align-items: center;
    /* Vertically center the input and delete button */
}

.input {
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 5;
    margin: 10px;
}

.new-multivalue-input {
    flex: 1;
    margin: 10px;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.add-btn,
.delete-btn {
    background-color: #e7e7e7;
    color: black;
    font-size: 12px;
    border-radius: 6px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.add-btn:focus:not(:focus-visible):not(.focus-visible),
.delete-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.add-btn:hover,
.delete-btn:hover {
    background-color: #979494;
}

.add-btn:focus,
.delete-btn:focus {
    box-shadow: rgba(156, 157, 156, 0.4) 0 0 0 3px;
    outline: none;
}

.add-btn:disabled,
.delete-btn:disabled {
    background-color: #979494;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.add-btn:active {
    background-color: #636564;
    box-shadow: rgba(184, 186, 184, 0.2) 0 1px 0 inset;
}

/* Auto expanding input field styling */
.auto-expand-input {
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 5;
    padding: 10px 10px;
}

.hr {
    margin: 0px 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 1em;
    background-color: gray;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Styling for the header */
header {
    background-color: #124266;
    text-align: center;
    padding: 0px;
}

/* Styling for the navigation bar */
#menu {
    background-color: #124266;
    overflow: hidden;
    text-align: left;
}

#menu ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

#menu ul li {
    padding: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 5px;
    /* Adjusted padding */
}

#menu ul li ul.submenu {
    display: none;
    color: white;
    background-color: #124266;
}

#menu ul li:hover ul.submenu {
    display: block;
}

#menu ul li a:hover {
    color: white;
    background-color: #555;
}

/* CSS */
.submit-btn {
    appearance: none;
    background-color: #516d3d;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.submit-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.submit-btn:hover {
    background-color: #6A8855;
}

.submit-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.submit-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.submit-btn:active {
    background-color: #516d3d;;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Styling for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}