html {
    margin: 0;
    height: 100vh;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

#title {
    padding-top: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

body {
    margin: 1rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    height: 100vh;
}

.main-container {
    display: flex;
    border: none;
}

.divider {
    width: 5px;
    cursor: col-resize;
    /* Use a resizable cursor */
    background-color: #d9d8d8;
}

.divider:hover {
    background-color: #aaa9a9;
}

/* Add this CSS to disable user selection while resizing */
.user-select-none {
    user-select: none;
}

#main-content {
    display: flex;
    /* Use flex container */
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.row-layout {
    flex-direction: row;
}

.column-layout {
    flex-direction: column;
}

.left-container {
    padding: 10px;
    flex-grow: 1;
}

.source-photos-container,
.collections_for_review-container,
.calscape-photos-container {
    margin-right: 10px;
}

.thumbnail-scroll-container,
.collections-scroll-container {
    height: 100%;
    /* Takes the full height of the source-photos-container */
    max-height: 800px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

/* Style for the grid */
#thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #eee;
    min-height: 250px;
    height: 100%;
    /* Takes the full height of the thumbnail-scroll-container */
    box-sizing: border-box;
}

.right-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    padding: 10px;
    min-width: 350px;
    max-width: calc(100% - 250px);
    /* Set initial width for panels */
    width: calc(60% - 5px);
}

.collection-container {
    display: flex;
    flex-direction: column;
}

.group-properties-container,
.properties-scroll-container {
    padding: 10px;
    background-color: #f2f2f2;
}

.group-thumbnail-scroll-container {
    max-height: 800px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
}

.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    min-height: 250px;
    position: relative;
    /* Make the container relative for absolute positioning */
    height: 100%;
    box-sizing: border-box;
}

.drag-and-drop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(78, 160, 219, 0.241);
    /* Light blue background */
    color: black;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    /* Center the text */
    font-size: 14px;
    /* Slightly larger font size */
    border: 1px dashed white;
    /* Semi-transparent white border */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    /* Light shadow */
}

.tcontainer .thumbnail {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
}

.tcontainer .caption {
    width: 150px;
    /* Set the width to match the thumbnail */
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    word-wrap: break-word;
}

.tcontainer.selected {
    width: 156px;
    height: 200px;
    border: 3px solid #007bff;
}

.label {
    color: #B4886B;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    border: none;
    outline: none;
    flex: 1;
    align-self: center;
    min-width: 100px;
    /* Set a fixed minimum width for the label */
}

.label:after {
    content: ": ";
}

/* Style for the required asterisk */
.label[for]:required::after {
    content: '*';
    color: tomato;
    margin-right: 4px;
    /* Add spacing between asterisk and label */
}

.required-asterisk {
    color: red;
}

/* Container for the label/input pairs */
.form-group {
    display: flex;
    padding: 8px;
}

.species-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Auto expanding input field styling */
.auto-expand-input {
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 5;
    padding: 10px 10px;
    margin-bottom: 0;
}

.colltype-choice {
    margin: 0.4rem;
}

.suggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    /* Expand to match the input field width */
    box-sizing: border-box;
    /* Include padding and borders in the width */
    margin-top: 5px;
    /* Add some spacing between input and suggestions */
}

.suggestions li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style-type: none;
    text-align: left;
}

.multivalue-input-container {
    flex: 5;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #e7e7e7;
    width: 100%;
    /* This should make it take the full available horizontal space */
    padding: 10px;
}

.multivalue-input-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 220px;
    /* Set your desired max height here */
    overflow-y: auto;
    /* Add a vertical scrollbar when content overflows */
}

.input-container {
    display: flex;
    align-items: center;
    /* Vertically center the input and delete button */
}

.input {
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 5;
    margin: 10px;
}

.multivalue-input {
    flex: 1;
    margin: 10px;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.add-btn,
.delete-btn {
    background-color: #e7e7e7;
    color: black;
    font-size: 12px;
    border-radius: 6px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.add-btn:focus:not(:focus-visible):not(.focus-visible),
.delete-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.add-btn:hover,
.delete-btn:hover {
    background-color: #979494;
}

.add-btn:focus,
.delete-btn:focus {
    box-shadow: rgba(156, 157, 156, 0.4) 0 0 0 3px;
    outline: none;
}

.add-btn:disabled,
.delete-btn:disabled {
    background-color: #979494;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.add-btn:active {
    background-color: #636564;
    box-shadow: rgba(184, 186, 184, 0.2) 0 1px 0 inset;
}

.hr {
    margin: 0px 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 1em;
    background-color: gray;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Styling for the header */
header {
    background-color: #224762;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

/* Styling for the navigation bar */
#left-nav {
    background-color: rgba(64, 124, 168, 0.5);
    display: inline-block;
    height: 100%;
    width: 15%;
    min-width: 200px;
    margin-top: 60px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 60px;
    position: relative;
    /* Add this to establish a positioning context for absolute positioning */
    z-index: 1;
}

#left-nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

#left-nav ul li {
    padding: 5px;
}

#left-nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 5px;
    text-align: left;
}

#left-nav ul li ul.submenu {
    display: none;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#left-nav ul li:hover ul.submenu {
    display: block;
    background-color: rgba(64, 124, 168, 0.5);
}

#left-nav ul li a:hover {
    color: black;
    background-color: rgba(64, 124, 168, 0.5);
}

#left-nav ul li a.selected {
    color: #eee;
    background-color: rgba(64, 124, 168, 0.5);
}

/* Specific styles when on the home page */
#left-nav.nav-home ul li:not(#welcome-link) {
    display: none;
    /* Hide all li elements except welcome link */
}

#left-nav.nav-home ul li#welcome-link {
    display: block;
    /* Ensure welcome link is displayed */
}

/* Hide submenu on the home page */
#left-nav.nav-home ul li ul.submenu {
    display: none;
}

#left-nav.nav-home ul li:hover ul.submenu {
    display: none;
}

#menu {
    background-color: #124266;
    overflow: hidden;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
}

#menu ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

#menu ul li {
    padding: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 5px;
    text-align: left;
}

#menu ul li ul.submenu {
    display: none;
    color: white;
    background-color: #124266;
}

#menu ul li:hover ul.submenu {
    display: block;
}

#menu ul li a:hover {
    color: white;
    background-color: #555;
}

/* Styling for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 4;
}

.container {
    max-width: 960px;
    margin-left: 15%;
    background-color: #fff;
    padding: 20px;
}

.table-container {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    color: #333;
    text-align: center;
}

.review-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.permissions-checkbox {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.permissions-checkbox label {
    margin-left: 8px;
}


#submit-button-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    appearance: none;
    background-color: #516d3d;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    padding: 6px 16px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#submit-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

#submit-button:hover {
    background-color: #6A8855;
}

#submit-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#submit-button:active {
    background-color: #6A8855;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#submit-button:disabled {
    background-color: #cccccc;
    color: #666666;
    border: 1px solid #999999;
    cursor: not-allowed;
}

.permissions-checkbox {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.permissions-checkbox label {
    margin-left: 8px;
}

.table-container {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    color: #333;
    text-align: center;
}

.review-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


/* #submit-button-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    appearance: none;
    background-color: #516d3d;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    padding: 6px 16px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#submit-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

#submit-btn:hover {
    background-color: #6A8855;
}

#submit-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#submit-btn:active {
    background-color: #6A8855;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} */

#status-area {
    position: absolute;
    bottom: 10px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}

.status-message {
    position: relative;
    /* Add this to make the close box position relative to the status-message */
    border-radius: 0px;
    padding: 10px;
    min-height: 50px;
    width: 200px;
}

.status-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Adjust the padding as needed */
    border: 1px solid #ccc;
    /* Optional: add a border for better separation */
}

#status-text {
    flex-grow: 1;
    /* Allow the text to take up available space */
    margin-right: 10px;
    /* Adjust the margin as needed */
}

/* Styles for success messages */
.status-message.success {
    background-color: #d4edda;
    /* Green background */
    color: #155724;
    /* Dark green text color */
    border: 1px solid #3e734a;
    /* Border color */

}

/* Styles for error messages */
.status-message.error {
    background-color: #e867719d;
    /* Red background */
    color: #721c24;
    /* Dark red text color */
    border: 1px solid #721c24;
    ;
    /* Border color */
}

#collectionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#collectionTable a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#collectionTable a:hover {
    color: darkblue;
}

#save-photos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#save-button-container {
    margin-left: auto;
}

/* Style the Quill toolbar */
.ql-toolbar {
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    /* Add a border or adjust as needed */
}

/* Style the Quill container */
.quill-container {
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    margin-bottom: 0;
    position: relative;
}

/* Style the Quill editor area */
.ql-editor {
    height: 150px;
    padding: 3px 4px;
}