#how-to{
    text-align: left;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Horizontal padding */
    background-color: #516d3d;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    line-height: 20px; /* Adjust line-height to vertically center the text */
}

.button:hover{
    background-color: #6A8855;
}

.button:focus{
    background-color: #6A8855;
}

.button:active{
    background-color: #516d3d;
}

#welcome-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    /* width: 80%; */
    margin: 0 auto; /* Center horizontally */
    padding: 10px;
    overflow-wrap: break-word;
}

#to-do-container{
    padding-left:20px;
}

#container {
    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    /* justify-content: space-around; */
    /* margin-bottom: 10px; */
}

.tablinks {
    padding: 10px 15px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    font-size: 16px;
}

.tabcontent {
    display: none;
    padding: 16px;
}

.button-container {
    text-align: center;
}

/* Show the active tab */
.active {
    background-color: #ccc;
}

/* Hide scrollbar */
.tabcontent {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.tabcontent::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#contribute-container,
#review-container {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 16px;
}

.centered-text{
    text-align: center;
}

@media screen and (max-width: 768px) {
    #breadcrumb-home {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height */
        position: relative; /* Change position */
    }

    .main-content {
        margin-left: 0; /* No margin on the left for smaller screens */
    }
}